body{
margin: 0;
font-style: bold;
font-size: 1.5em;}
labels,
input{
  display: block;
  margin: 1em;
}
input[type="text"] {
  padding: 1em;
  border-radius: 8px;
}
input[type="email"]{
  padding: 1em;
  border-radius: 8px;
}

